html.openmenu {
  overflow: hidden;
}
.menu_mobile .icon_menu {
  width: 60px;
  height: 70px;
  background: #0056a6;
  color: #ffffff;
  text-align: Center;
  padding-top: 40px;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 21px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}
.menu_mobile .icon_menu:before {
  position: absolute;
  width:35px;
  height:4px;
  content: '';
  top: 20px;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
}
.menu_mobile .icon_menu:after {
  position: absolute;
  width:35px;
  height:4px;
  content: '';
  top: 30px;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
}
.menu_mobile .icon_menu:hover {
  background: #444444;
}
.menu_mobile.showmenu{
  position: static;
}
.menu_mobile .divmm {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  text-align: left;
  z-index: 50;
}
.menu_mobile .divmm .mmContent {
  width: 100%;
  height: 100%;
  padding-left: 60px;
  margin: 0 0 0 auto;
  position: relative;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-transform: translate(100%, 0%);
  -moz-transform: translate(100%, 0%);
  -o-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
  max-width: 500px;
  pointer-events: none;
}
.menu_mobile .divmm .mmContent .mmSearch .input-group .form-control {
  height: 30px;
}
.menu_mobile .divmm .mmContent .mmSearch .input-group button.btn {
  height: 30px;
  background: #dca73a;
  color: #ffffff;
  border-color: #dca73a;
  outline: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
.menu_mobile .divmm .mmContent .mmSearch .input-group button.btn span {
  color: #ffffff;
}
.menu_mobile .divmm .mmContent .mmMenu {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  color: #333333;
  pointer-events: auto;
}
.menu_mobile .divmm .mmContent .mmMenu ul {
  width: 100%;
  background: #ffffff;
}
.menu_mobile .divmm .mmContent .mmMenu ul > li > ul{
  background: #f2f2f2;
}
.menu_mobile .divmm .mmContent .mmMenu ul li {
  display: block;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.menu_mobile .divmm .mmContent .mmMenu ul li.home a{
  color:#ffffff;
  background: #0056a6;
}
.menu_mobile .divmm .mmContent .mmMenu ul li.home a:before{
  content: "\f015";
  font-family: fontawesome;
  position: absolute;
  right:15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}
.menu_mobile .divmm .mmContent .mmMenu ul li.home:hover a{
  color:#ffffff;
}
.menu_mobile .divmm .mmContent .mmMenu ul li a {
  display: block;
  padding: 13px 15px;
  position: relative;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub{
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub,
.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub, .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > a {
  background: #1e5eb3;
  color:#ffffff;
}
.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > a {
  background: #1e5eb3;
  color:#ffffff;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li{
  border-bottom: none;
  border-top: 1px solid #d9d9d9;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li a {
  position: relative;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  padding-left: 35px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li a:before{
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 24px;
  color:#999999;
  position: absolute;
  left:15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li a:hover{
  color:#0056a6;
  background-color: inherit;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li ul{
  background: #dcdcdc;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li{
  border-top: solid 1px #bbbbbb;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li a{
  padding-left: 50px;
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li a:before{
  left: 35px;
}
.menu_mobile .divmm .mmContent .mmMenu ul li .m-sub{
  position: relative;
  padding-right: 45px;
}
.menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #a7a3a2;
  padding-top: 10px;
  cursor: pointer;
  border-left: solid 1px #d9d9d9;
}
.menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu:before {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 50%;
  top: 50%;
  font-size: 24px;
  line-height: 32px;
  -webkit-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  -o-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu.show:before{
  content: "\f106";
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li .button-submenu:before{
  content: "\f105";
}
.menu_mobile .divmm .mmContent .mmMenu ul li ul li .button-submenu.show:before{
  content: "\f107";
}
.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > .button-submenu:after{
  color:#0066b3;
}
.menu_mobile .divmm .mmContent .close-mmenu {
  position: absolute;
  top: 46px;
  left: 300px;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  opacity: 0;
  pointer-events: auto;
  text-align: Center;
  font-size: 30px;
  line-height: 38px;
  color: #333333;
}
.menu_mobile .divmm .mmContent .close-mmenu i {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.menu_mobile .divmm .mmContent .close-mmenu:hover {
  background: #333333;
  color:#FFFFFF;
}
.menu_mobile .divmm .mmContent .mmMenu .titlemm {
  background: #00652e;
  color: #ffffff;
  text-transform: Uppercase;
  font-weight: bold;
  padding: 12px 0px 12px 30px;
}
/*.menu_mobile .divmm .mmContent .close-mmenu:after{*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*font-size: 30px;*/
/*line-height: 40px;*/
/*-webkit-transform:translate(-50%,-50%);*/
/*-moz-transform:translate(-50%,-50%);*/
/*-o-transform:translate(-50%,-50%);*/
/*-ms-transform:translate(-50%,-50%);*/
/*transform:translate(-50%,-50%);*/
/*color: #333333;*/
/*font-family: "fontawesome";*/
/*content: "\f00d";*/
/*}*/
.menu_mobile .divmm.show {
  visibility: visible;
}
.menu_mobile .divmm.show .mmContent {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.menu_mobile .divmm.show .mmContent .close-mmenu {
  left: 0;
  top: 0;
  opacity: 1;
}
.menu_mobile .divmm .divmmbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 49;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.menu_mobile .divmm.show .divmmbg {
  opacity: 1;
  visibility: visible;
}
/*==========================THEM VAO=================*/
.mmButton {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  pointer-events: auto;
}
.mmButton a {
  font-size: 15px;
  line-height: 24px;
  padding: 8px 10px;
  border-radius: 8px;
  display: block;
  color: #ffffff;
  background: #36a445;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
}
.mmButton a span{
  padding-left: 25px;
  position: relative;
}
.mmButton a span:before{
  content: "\f095";
  font-family: FontAwesome;
  position: absolute;
  left:0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mmButton a:hover{
  background: #1e5eb3 !important;
}
.mmButton a.b{
  background: #dd0000;
}
